name: Test Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3


    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Install foundationdb
      uses: pyr/foundationdb-actions-install@2b2c6dee7f3e21864c060c5fd53838e2e8a28aa1
      with:
        version: "7.1.27"

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -timeout 5m -v ./...
      
    - name: Test (race)
      run: go test -timeout 5m -v -race ./...

    - name: Format
      run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi
